<footer class="footer bg-dark text-white text-center p-5 m-5 mt-0 rounded-5 rounded-top-0">
  <div class="">
    <h3
      class="flex-row d-flex justify-content-center align-content-center align-items-center"
    >
      Omar Alhlawany
    </h3>
    <p class="lead">Full-stack PHP Web-applications Developer</p>
  </div>
  <p class="fs-4 fw-bold">Available on:</p>
  <br />
  <div class="social-links">
    <a
      href="https://www.facebook.com/omar.alhlawany.11.6/"
      target="_blank"
      class="text-white mx-2"
      ><i class="fa-brands fa-facebook fa-xl mx-3"></i
    ></a>
    <a
      href="https://wa.me/201100135042/"
      target="_blank"
      class="text-white mx-1"
      ><i class="fa-brands fa-whatsapp fa-2xl"></i
    ></a>

    <i class="fa-solid fa-grip-lines fa-rotate-90 fa-sm mx-5"></i>
    <a
      href="https://www.linkedin.com/in/omaralhlawany/"
      target="_blank"
      class="text-white mx-2"
      ><i class="fa-brands fa-linkedin fa-2xl"></i
    ></a>
    <a
      href="https://github.com/OmarAlhlawany"
      target="_blank"
      class="text-white mx-3"
      ><i class="fa-brands fa-github fa-2xl"></i
    ></a>
    <a
      href="https://www.hackerrank.com/profile/OmarAlhlawany"
      target="_blank"
      class="text-white mx-1"
      ><i class="fa-brands fa-hackerrank fa-2xl"></i
    ></a>
    <i class="fa-solid fa-grip-lines fa-rotate-90 fa-sm mx-5"></i>
    <a
      href="https://www.upwork.com/freelancers/~01b66ca7e5f2cbcde8?s=1044578476142100494"
      target="_blank"
      class="text-white mx-3"
      ><i class="fa-brands fa-square-upwork fa-2xl"></i
    ></a>
    <a
      href="https://mostaql.com/u/Omaralhlawany/portfolio"
      target="_blank"
      class="text-white mx-1"
      ><i class="fa-solid fa-o fa-2xl"></i
    ></a>
    <br /><br /><br />
    <p class="fw-bold">
      Also you can send direct mail on:
      <a href="mailto:omarhlw1162@gmail.com" class="text-white"
        >omarhlw1162&#64;gmail.com</a
      >
    </p>
  </div>
</footer>
