.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.user-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #ffffff25;
  cursor: pointer;
}

.user-card:hover {
  transform: scale(0.95);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  transition: opacity 0.3s ease;
}

.user-card:hover .profile-pic {
  opacity: 0.9;
}

.card-content {
  padding: 15px;
}

.verification-icon {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 24px;
}

.verified {
  color: rgb(52, 152, 219);
}

.not-verified {
  color: rgb(99, 99, 99);
}

.card-content h2 {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
  transition: color 0.3s ease;
}

.user-card:hover .card-content h2 {
  color: #007bff;
}

.card-content p {
  margin: 5px 0;
  color: #ffffff;
}
